.InputWrapper {
    display: flex;
}

.placeholder {
    margin-left: 5px;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--primary-color);

    // убрать стандартную каретку
    // color: transparent;
    // text-shadow: 0 0 0 var(--primary-color);

    // width: 100%;

    &:focus {
        outline: none;
    }
}
